* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

header {
    position: relative;
    justify-content: center;
}

.navbar2 {
    position: relative;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 120px;
    right: 63.5px;
}

.nav-med ul{
    justify-content: center;
    gap: 100px;
}

.card-venda {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card-v {
    width: 9.5rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card-v img {
    width: 100%;
    height: auto;
}

.card-content-v h3 {
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1px;
    color: black;
    display: flex;
    justify-content: center;
}
.rodape {
    padding: 50px 0;
    text-align: center;
}

.nav-inferior {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 1000; 
    padding: 10px 0;
}

.nav-inferior ul {
    display: flex;
    justify-content: center; 
    gap: 30px;
}

.nav-inferior ul li {
    list-style: none;
    text-align: center;
    margin-right: 10%;
}

.nav-inferior ul li a, .text {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    padding: 20px;
}

.nav-inferior ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: calc(1.5em + 1vw);
    text-align: center;
    color: black;
}

.nav-inferior ul li a .text {
    position: absolute;
    margin-top: 55px;
    text-align: center;
    font-weight: 400px;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    color: blueviolet;
    text-decoration: double;
}

.link-menu{
    text-decoration: none;
    color: black;
}

.nav-link{
    text-decoration: underline;
}